@use '../abstracts' as *;

.featured {
    padding-top: px-to-rem(12);

    @include respond-above('large') {
        padding-top: px-to-rem(0);
    }

    &--authors {
        @include respond-above('medium') {
            padding-top: px-to-rem(32);
        }

        .container {
            @include respond-above('medium') {
                padding-bottom: px-to-rem(48);
            }

            @include respond-above('large') {
                padding-bottom: px-to-rem(72);
            }
        }
    }

    &__title {
        color: $color-primary;
        text-align: center;
        padding-block: px-to-rem(8);

        @include respond-above('medium') {
            padding-block: px-to-rem(40) px-to-rem(16);
            @include text-size('2xl');
        }

        @include respond-above('large') {
            @include text-size('3xl');
        }
    }

    &__container {
        @include flexbox(column, center, center, px-to-rem(8));
        min-width: 100%;
        max-width: 100%;
        background-color: $color-bg-muted;
        padding-block: px-to-rem(8) px-to-rem(20);
        padding-inline: px-to-rem(24);
        overflow: hidden;

        @include respond-above('medium') {
            padding-block: px-to-rem(28);
        }

        @include respond-above('large') {
            flex-direction: row;
            gap: px-to-rem(48);
            padding-block: px-to-rem(70) px-to-rem(80);
        }
    }
}
