@use '../abstracts' as *;

.hero {
    background: $color-secondary-gradient;
    color: $color-bg;
    text-align: center;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: px-to-rem(24);

        padding-block: px-to-rem(32);

        @include respond-above('medium') {
            padding-block: px-to-rem(84);
        }
    }

    &__typography {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: px-to-rem(8);

        @include respond-above('medium') {
            gap: px-to-rem(2);
        }
    }

    &__title {
        @include text-size('md');
        @include text-weight('bold');

        @include respond-above('medium') {
            @include text-size('4xl');
        }
    }

    &__subtitle {
        @include text-size('base');
        @include text-weight('medium');

        max-width: px-to-rem(316);

        @include respond-above('medium') {
            max-width: unset;
        }
    }
}
