@use '../abstracts' as *;

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: px-to-rem(80);

    @include respond-above('medium') {
        padding: 0 px-to-rem(64);
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
    }

    &__left {
        gap: px-to-rem(16);
    }

    &__right {
        margin-right: px-to-rem(28);
        gap: px-to-rem(16);

        @include respond-above('medium') {
            gap: px-to-rem(56);
            margin-right: px-to-rem(8);
        }

        @include respond-above('large') {
            gap: px-to-rem(44);
        }
    }

    &__hamburger {
        height: 100%;

        &-icon {
            padding: px-to-rem(10);
            color: $color-secondary;
            font-size: px-to-rem(24);
            height: 100%;
            aspect-ratio: 1;
            text-align: center;
            display: grid;
            place-items: center;

            @include respond-above('medium') {
                display: none;
            }
        }
    }

    &__list {
        display: none;
        gap: px-to-rem(24);
        margin-left: px-to-rem(40);
        align-items: center;

        @include respond-above('medium') {
            display: flex;
        }
    }

    &__item {
        display: inline-flex;
    }

    &__link {
        text-transform: uppercase;

        padding: px-to-rem(14) px-to-rem(10);
        height: fit-content;

        &:hover,
        &:focus {
            background: $color-secondary-gradient;
            color: $color-bg;
            cursor: pointer;
        }
    }
}
