@use '../abstracts' as *;

.branding {
    @include flexbox(row, center, center, px-to-rem(12));

    @include respond-above('medium') {
        padding-left: px-to-rem(16);
    }

    &__logo {
        width: px-to-rem(40);
        height: px-to-rem(40);
    }

    &__textmark {
        display: none;

        @include respond-above('medium') {
            display: block;
        }
    }
}
