@use '../abstracts' as *;

.button {
    background-color: $color-primary;
    color: $color-bg;
    padding: px-to-rem(12);
    @include text-weight('bold');

    &:focus-visible,
    &:hover {
        outline: 2px solid $color-secondary;
    }
}
