@use '../abstracts' as *;

.input {
    border: 1px solid $color-bg;
    border-radius: px-to-rem(24);
    text-align: center;
    font-family: $font-family-text, 'Icomoon';

    padding: px-to-rem(10) px-to-rem(24);
    height: px-to-rem(44);
    max-width: px-to-rem(380);
    width: 100%;
    transition:
        border-radius 0.3s,
        box-shadow 0.3s;

    @include text-size('sm');

    &::placeholder {
        color: $color-bg;
    }

    &:focus-visible {
        &::placeholder {
            color: transparentize($color-bg, $amount: 0.6);
        }
    }

    &:hover {
        border-radius: px-to-rem(20);
        box-shadow: $shadow-glow;
    }

    &--search {
        @include respond-above('medium') {
            @include text-size('base');
            height: px-to-rem(56);
            max-width: px-to-rem(476);
        }

        @include respond-above('large') {
            max-width: px-to-rem(586);
        }
    }

    &--email {
        border-color: $color-secondary;
        text-align: left;
        @include text-size('base');

        &::placeholder {
            color: $color-secondary;
        }

        &:focus-visible {
            &::placeholder {
                color: transparentize($color-secondary, $amount: 0.6);
            }
        }

        @include respond-above('medium') {
            @include text-size('base');
            max-width: px-to-rem(328);
        }

        @include respond-above('large') {
            max-width: px-to-rem(349);
        }

        &:hover {
            box-shadow: $shadow-glow-dark;
        }
    }
}
