@use '../abstracts' as *;

.slider {
    position: relative;
    max-width: 100%;

    &__viewport {
        padding-block: px-to-rem(12);
        overflow: visible;

        @include respond-above('medium') {
            padding-block: px-to-rem(72) px-to-rem(48);
            overflow: hidden;
        }

        @include respond-above('large') {
            padding-block: px-to-rem(34) px-to-rem(48);
        }
    }
    &__container {
        @include flexbox;
        touch-action: pan-y pinch-zoom;
        margin-left: -px-to-rem(20);

        @include respond-above('medium') {
            margin-left: 0;
        }
    }

    &__slide {
        flex: 0 0 50%;
        @include flexbox(row, center, center, 0);
        min-width: 0;
        padding-left: px-to-rem(20);

        @include respond-above('medium') {
            flex: 0 0 35%;
            padding-left: 0;
        }
    }

    &__image {
        object-fit: contain;
        width: 100%;
        max-height: px-to-rem(400);

        @include respond-above('medium') {
            width: px-to-rem(192);
        }

        @include respond-above('large') {
            width: px-to-rem(180);
        }
    }

    &__button {
        width: px-to-rem(48);
        height: px-to-rem(48);

        background: $color-secondary-gradient;
        border-radius: 50%;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @include flexbox(row, center, center, 0);
        display: none;
        transition:
            transform 0.5s,
            box-shadow 0.5s;

        @include respond-above('medium') {
            display: flex;
        }

        &:focus-visible {
            border: 2px solid $color-primary;
            outline: 2px solid $color-primary;
        }

        &:hover {
            transform: translateY(-60%);
            box-shadow: 0 5px 10px transparentize($color: #000000, $amount: 0.6);
        }

        .icon-chevron-left,
        .icon-chevron-right {
            color: $color-bg;
            font-size: px-to-rem(12);
        }

        &--prev {
            left: px-to-rem(-16);
        }

        &--next {
            right: px-to-rem(-16);
        }
    }

    &__dots {
        @include flexbox(row, center, center, px-to-rem(8));
        padding-block: px-to-rem(4);

        @include respond-above('medium') {
            gap: px-to-rem(12);
        }
    }

    &__dot {
        width: px-to-rem(8);
        height: px-to-rem(8);

        background: $color-muted;
        border-radius: 50%;

        &--selected {
            background: $color-secondary-gradient;
        }

        &:not(&--selected) {
            &:focus-visible {
                border: 2px solid $color-primary;
                outline: 2px solid $color-primary;
            }

            &:hover {
                background: transparentize($color-secondary, 0.7);
            }
        }

        @include respond-above('medium') {
            width: px-to-rem(12);
            height: px-to-rem(12);
        }
    }
}
