@use '../../abstracts' as *;

.contact {
    &__container.container {
        @include flexbox(column, center, center, px-to-rem(24));
        padding: px-to-rem(24);

        @include respond-above('medium') {
            flex-direction: row;
            padding-inline: 0;
            max-width: px-to-rem(725);
            padding-top: px-to-rem(32);
            padding-bottom: px-to-rem(53);
        }

        @include respond-above('large') {
            max-width: px-to-rem(774);
            padding-block: px-to-rem(64);
        }
    }

    &__text {
        @include flexbox(column, center, flex-start, px-to-rem(8));
        color: $color-secondary;

        @include respond-above('medium') {
            gap: px-to-rem(16);
        }
    }

    &__heading {
        @include respond-above('medium') {
            @include text-size('xl');
        }
    }
}
