@use '../abstracts/colors';
@use '../abstracts/variables';
@use '../abstracts/functions';

// Set up a decent box model on the root element
html {
    box-sizing: border-box;

    // Set defaults
    font-family: variables.$sl-font-family--text;
    background-color: colors.$color-bg;
    color: colors.$color-text;
    font-size: functions.toRem(16);
}

// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
    box-sizing: inherit;
}
