@use '../abstracts/' as *;

// Set up a decent box model on the root element
html {
    box-sizing: border-box;

    // Set defaults
    font-family: $font-family-text;
    background-color: $color-bg;
    color: $color-text;
    @include text-size('base');
}

button {
    cursor: pointer;
}

main {
    padding-top: px-to-rem(80);
}

// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
    box-sizing: inherit;
}
