@use '../abstracts/variables' as *;

// Josefin Sans
@font-face {
    font-family: 'Josefin Sans';
    src: url('#{$font-path}/Josefin_Sans/JosefinSans-Bold.ttf');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('#{$font-path}/Josefin_Sans/JosefinSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

// --- Poppins ---
@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}/Poppins/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: nomral;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font-path}/Poppins/Poppins-Light.ttf');
    font-weight: 300;
    font-style: nomral;
}
