@use '../abstracts/' as *;

// --- Poppins ---
@font-face {
    font-family: 'Poppins';
    src:
        url('#{$font-path}/poppins/Poppins-Bold.woff2') format('woff2'),
        url('#{$font-path}/poppins/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src:
        url('#{$font-path}/poppins/Poppins-Medium.woff2') format('woff2'),
        url('#{$font-path}/poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src:
        url('#{$font-path}/poppins/Poppins-Regular.woff2') format('woff2'),
        url('#{$font-path}/poppins/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src:
        url('#{$font-path}/poppins/Poppins-Light.woff2') format('woff2'),
        url('#{$font-path}/poppins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
