html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
small,
strong,
sub,
sup,
ol,
ul,
li,
label,
article,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: unset;
    text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
}
