@use '../abstracts' as *;

.text {
    font-size: px-to-rem(map-get($font-sizes, 'base'));
    color: $color-text;
    line-height: 1.5;
}

@each $name, $size in $font-sizes {
    @if $name != 'base' {
        .fs--#{$name} {
            font-size: px-to-rem($size);
        }
    }
}

@each $name, $weight in $font-weights {
    @if $name != 'regular' {
        .fw--#{$name} {
            font-weight: $weight;
        }
    }
}
