@use '../abstracts' as *;

.heading {
    @include fs('md');
    @include fw('bold');

    &--small {
        @include fs('base');
    }

    &--light {
        @include fw('light');
    }

    &--medium {
        @include fw('medium');
    }
}

.body {
    @include fs('base');
    @include fw('regular');

    &--light {
        @include fw('light');
    }

    &--medium {
        @include fw('medium');
    }

    &--small {
        @include fs('sm');
    }

    &--responsive {
        @include fs('sm');
        @include respond-above('medium') {
            @include fs('base');
        }
    }
}
